@model PagedList.IPagedList<News.business.ViewModel.NewsOfListViewModel>
@using PagedList.Mvc;
@section PageTitle
{
    Головна
}

<h2 class="news">Новини</h2>

<div class="news">
    @foreach (var n in Model)
    {
        <div>
            <h3>@Html.RouteLink(n.Header, new { controller = "MoreInfo", action = "MoreInfo", id = n.Id })</h3>            
            <div class="text-info">@Html.Raw(n.Date)</div>
            <div class="text-success">@Html.Raw(n.Author)</div>
            @if (User.IsInRole("editor") || User.IsInRole("admin") || User.Identity.Name == @n.Author)
            {
                <div>@Html.RouteLink("Редагувати", new { controller = "Edit", action = "Edit", id = n.Id })</div>
                <div>@Html.RouteLink("Видалити", new { controller = "DeleteNews", action = "DeleteNews",id = n.Id })</div>
            } 
            @if (User.IsInRole("admin") || User.IsInRole("editor"))
            {
                <div>@(n.IsVisible == true? "Видима":"Невидима")</div>
            }
            @if (User.Identity.Name == @n.Author && User.IsInRole("journalist"))
            {
                <div>@(n.IsVisible == true ? "Видима" : "Невидима")</div>
            }
        </div>
    }
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    
</div>

