@model News.business.ViewModel.NewsListViewModel
@using News.business.Helpers
@section PageTitle
{
    Головна
}

<h2 class="news">Новини</h2>

<div class="news">
    <div>
        @Html.RouteLink("ByAuthor", new { action = "Index", sortOrder = ViewBag.NameSortParm })
    </div>
    <div>
        @Html.RouteLink("ByDate", new { action = "Index", sortOrder = ViewBag.DateSortParm })
    </div>
        @foreach (var n in Model.NewsPerPages)
        {
            if(!(n.IsVisible || User.IsInRole("admin") || User.IsInRole("editor") || (n.AuthorId == Model.UserId && User.IsInRole("journalist"))))
            {
                continue;
            }

            <div>
                <h3><a href="@Url.Content("/news/item/" + @n.Id)">@Html.Raw(n.Header)</a></h3>            
                <div class="text-info">@Html.Raw(n.Date)</div>
                <div class="text-success">@Html.Raw(n.Author)</div>
                @if (User.IsInRole("editor") || User.IsInRole("admin") || Model.UserId == @n.Author)
                {
                    <div>@Html.RouteLink("Редагувати", new { controller = "EditNews", action = "Edit", id = n.Id })</div>
                    <div>@Html.RouteLink("Видалити", new { controller = "DeleteNews", action = "DeleteNews", id = n.Id })</div>
                } 
                @if (User.IsInRole("admin") || User.IsInRole("editor"))
                {
                    <div>@(n.IsVisible == true ? "Видима" : "Невидима")</div>
                }
                @if (Model.UserId == @n.AuthorId && User.IsInRole("journalist"))
                {
                    <div>@(n.IsVisible == true ? "Видима" : "Невидима")</div>
                }
            </div>
            <br />
        }
        @if (Model.PageData.PageSize != 0)
        {
            <div class="btn-group">
                @Html.PageLinks(Model.PageData, x => Url.Action("Index", new { page = x, sortOrder = ViewBag.CurrentSort }))
            </div>
        }
        

</div>

