@model List<News.business.ViewModel.NewsOfListViewModel>
@section PageTitle
{
    Головна
}

<h2 class="news">Новини</h2>

<div class="news">
    @foreach (var n in Model)
    {
        <div>
            <h3><a href="@Url.Content("~/news/item/" + n.Id)">@Html.Raw(n.Header)</a></h3>            
            <div class="text-info">@Html.Raw(n.Date)</div>
            <div class="text-success">@Html.Raw(n.Author)</div>
            @if (User.IsInRole("editor") || User.IsInRole("admin") || User.Identity.Name == @n.Author)
            {
                <div>@Html.RouteLink("Редагувати", new { controller = "Edit", action = "Edit", id = n.Id })</div>
                <div>@Html.RouteLink("Видалити", new { controller = "DeleteNews", action = "DeleteNews",id = n.Id })</div>
            } 
            @if (User.IsInRole("admin") || User.IsInRole("editor"))
            {
                <div>@(n.IsVisible == true? "Видима":"Невидима")</div>
            }
        </div>
    }
</div>

