@model News.business.ViewModel.NewsViewModel
@section PageTitle
{
    @Model.Header
}

<h2 class="HeaderNews">@Html.Raw(Model.Header)</h2>

<div class="text-info">@Html.Raw(Model.Content)</div>

<div>@Html.Raw(Model.Date)</div>

<div>@Html.Raw(Model.Author)</div>

